#part1{
    background-color: #ec551e;
}

#part2{
    background-color: #c63d2a;
}

#part3{
    background-color: #ec551e;
}

#footer{
    background-color:  #c63d2a ;
}

#addToHomeScreen{
    display: block;
    margin-top: 20px;
    padding: 0px;
    display: none;
}
#addToHomeScreen img{
    max-width: 57px;
    margin: 10px;
    float: left;
}

#addToHomeScreen button{
    background-color: #c63d2a;
    color: white;
    
}

#instructions{
    text-align: center;
    background-color: #ec551e;
    position:fixed;
    bottom: 0px;
    left: 10px;
    right: 10px;
    height: 40vh;
    padding: 0px 10px 10px 10px;
    display: none;
}

#instruction img{
    height: 173px;
    width: 100%;
    object-fit: cover;
    padding: 3vw;

}

#instructions button{
    background-color: #c63d2a;
    color: white;
    border: 1px #2965f1 solid;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.instructionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}