#part1{
    background-color: #ec551e;
}

#part2{
    background-color: #c63d2a;
}

#part3{
    background-color: #ec551e;
}

#footer{
    background-color:  #c63d2a ;
}

#addToHomeScreen{
    display: block;
    margin-top: 20px;
    padding: 0px;
    display: none;
}
#addToHomeScreen img{
    max-width: 57px;
    margin: 10px;
    float: left;
}

#addToHomeScreen button{
    background-color: #c63d2a;
    color: white;
    
}